body {
    background-color: #1b1412;
    color: white;
    font-family: "Roboto Slab", serif;
    margin: auto;
}
/*section one*/
.header {
    display: flex;

}

.header-logo {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    margin-right: auto;
    padding: 48px;
    padding-left: 150px;
    padding-top: 0px;
    /*ava was here*/
}

.right-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    padding: 48px;
    padding-right: 150px;
    padding-top: 0px;

}

h1 {
    font-size: 50px;
    display: flex;
}

.image {
    display: flex;
    justify-content: end;
    padding-right: 150px;
}
.body-one {
    display: flex;
    gap: 100px;
}

.info-sec-one {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
}

.button {
    background-color: #3882f6;
    padding: 10px 24px;
    text-align: center;
    border-radius: 8px;
    width: min-content;
    white-space: nowrap;
    /*hi prettty boy i like you a lot :)*/
}

/*section two*/
.section-two {
    background-color: white;
}

.section-two-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    
}

.list-info {
    color: grey;
    font-size: 20px;
    font-weight: lighter;
    width: 200px;
    text-align: center;
}

img.list-image {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 5px solid #3882f6;
}

/*section three*/
.section-three {
    background-color: #e5e7eb;
    color: black;
}

.quote {
    font-weight: lighter;
    font-size: 36px;
    font-style: italic;
    display: flex;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.quote-author {
    font-weight: bolder;
    justify-content: flex-end;
    padding-bottom: 100px;
}